.card {
    overflow: hidden;
    height: 150px;
    width: 170px;
    padding: 1rem;
    background-color: rgb(76, 100, 70);
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-color: rgb(76, 100, 70);
  
  }
  
  .card:hover {
    background-color: rgb(55, 66, 52)
  }
  
  .gambarkontainer {
    margin-left: -16px;
    margin-top: -16px;
    height: 120px;
    width: 210px;
    background-color: white;
    
    
  }
  
  .gambar {
    margin-top: 10px;
    width: 100%;
    aspect-ratio: 16/8;
    object-fit: contain;
  }
  
  .deskripsi {
    margin-top: 10px;
  }
  
  .judul {
    margin-top: -3px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  
  .harga {
    margin-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-top: -7px;
  }
  

  