h1 {
  color: white;
}

.navContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #191A19;
  width: 100%;
  z-index: 999; 
}

.cart {
  background-color: #1E5128;
  padding: 10px 20px;
  border-radius: 99px;
  position: relative;
  color: white;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

.home {
  margin-left: 100px;
}

.cart {
  margin-right: 100px;
}

.cartIndicator {
  position: absolute;
  background-color: #C84B31;
  aspect-ratio: 1/1;
  font-size: 10px;
  height: 20px;
  top: -7px;
  right: -5px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

.middleNav {
  display: flex;
  gap: 20px; 
}

.navItem {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

