.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  a {
    color: #D8E9A8;
  }
  