.mainLayout {
  min-height: 100vh; /* Ensures the layout takes up at least the height of the viewport */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.content {
  flex-grow: 1; /* Allows the content to fill the available vertical space */
  padding: 20px; /* Add padding to the content area */
}
